<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Resumen del Censo de Venezolanos en el Nordeste de Brasil</h4>
                        <p class="card-category">Breve resumen con algunos datos recolectados de los registros hasta el día de hoy.</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive table-upgrade">
                            <div class="loading pull-center" *ngIf="loading">
                                <mat-progress-spinner class="tp-section" [color]="color" [mode]="mode"></mat-progress-spinner>
                            </div>
                            <table class="table" *ngIf="!loading">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Total Registrados</td>
                                        <td class="text-center"></td>
                                        <td class="text-center">{{cantidadRegistrados}}</td>
                                    </tr>
                                    <tr>
                                        <td>Total Trabajando</td>
                                        <td class="text-center"></td>
                                        <td class="text-center">{{cantidadTrabajando}}</td>
                                    </tr>
                                    <tr>
                                        <td>Total con Registro Consular</td>
                                        <td class="text-center"></td>
                                        <td class="text-center">{{cantidadConRegistroConsular}}</td>
                                    </tr>
                                    <tr>
                                        <td>Total con Registro Electoral en Recife</td>
                                        <td class="text-center"></td>
                                        <td class="text-center">{{cantidadConRegistroElectoralRecife}}</td>
                                    </tr>
                                    <tr>
                                        <td>Total Estudiando</td>
                                        <td class="text-center"></td>
                                        <td class="text-center">{{cantidadEstudiando}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center">
                                            <a routerLink='/registro' class="btn btn-round btn-fill btn-danger">Registrarse</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>