<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a routerLink='/inicio'>
                        Contacto
                    </a>
                </li>
                <li>
                    <a routerLink='/inicio'>
                        Sobre Nosotros
                    </a>
                </li>
                <li>
                    <a routerLink='/inicio'>
                        Noticias
                    </a>
                </li>
                <li>
                    <a routerLink='/inicio'>
                        Enlaces de Interes General
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, desarrollado por venezolanos para venezolanos.
        </div>
    </div>
</footer>