<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a routerLink='/'>
                            <img class="img" src="{{ banderaBra }}" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">Censo de Venezolanos en el Nordeste Brasileño</h6>
                        <h4 class="card-title">Exposición de Motivos</h4>
                        <p class="card-description">Somos un grupo de venezolanos residenciados en los estados que corresponden a la circunscripción consular del Consulado General de Venezuela en Recife (Alagoas, Bahía, Ceará, Paraíba, Pernambuco, Piauí y Sergipe), quienes hemos
                            decidido por voluntad propia, organizarnos como diáspora para estar a disposición de la “Operación Libertad” liderada por nuestro legitimo Presidente (E) Ing. Juan Guaidó y apoyar la gestión de la Señora Embajadora de Venezuela
                            en Brasil la ABOGADA MARÍA TERESA BELANDRIA, siendo ella nuestra autoridad más próxima y representativa.</p>
                        <p class="card-description">Conscientes de las limitaciones que nos impone el hecho de estar fuera de las fronteras de Venezuela, y que no tengamos control efectivo de la gestión consular para que como venezolanos tengamos apoyo en materia de identificación
                            y participación electoral, es que nos colocamos a disposición para mediante nuestras acciones sumar esfuerzos a su gestión y la del Presidente Encargado, Juan Guaidó.</p>
                        <p class="card-description">Asimismo, queremos hacer de su conocimiento que, cada semana decenas de conciudadanos llegan a territorio de la circunscripción consular en busca de oportunidades. Muchos de ellos no tienen conocimiento sobre el debido procedimiento
                            para obtener la residencia temporal en el país; otros tantos desconocen la existencia del Consulado General de Venezuela en Recife; y otros por desconfianza y por ser este un órgano aún bajo la dirección del gobierno usurpador,
                            no se atreven a acercarse para regularizar su situación. </p>
                        <p class="card-description">
                            <p class="card-description">Como venezolanos sabemos la importancia que tiene estar organizados. Sabemos que para unas futuras elecciones generales todos y cada uno de nosotros debemos estar debidamente registrados en el Consulado que corresponda al lugar
                                de residencia, para poder ejercer nuestro derecho al voto en democracia. </p>
                            <p class="card-description">Como grupo organizado, estamos levantando una base de datos para intentar cuantificar a los venezolanos de la circunscripción consular, con datos específicos como situación migratoria actual, dirección y contacto. Queremos
                                saber con qué profesionales contamos, cuántos venezolanos cuentan con empleos y cuántos de estos también están desempleados. Queremos que usted, hermano venezolano sientan que, aunque lejos, no está solo!
                            </p>
                            <a routerLink='/registro' class="btn btn-danger btn-round">Realizar Registro</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>