<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Crear Registro</h4>
                        <p class="card-category">Por favor, rellene los siguientes campos.</p>
                    </div>
                    <div class="card-body">
                        <form novalidate="" (ngSubmit)="guardarUsuarios(registro)" #registro="ngForm">
                            <h3>Datos Personales</h3>
                            <br>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" name="nombres" [value]="" placeholder="Nombres" [(ngModel)]="datosPersonales.nombres" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" name="apellidos" placeholder="Apellidos" [(ngModel)]="datosPersonales.apellidos" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" name="numCedula" placeholder="Número de Cédula" [(ngModel)]="datosPersonales.numCedula">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <input matInput name="fechaDeNacimiento" [matDatepicker]="fechaDeNacimiento" [(ngModel)]="datosPersonales.fechaDeNacimeinto" placeholder="Fecha de Nacimiento" required>
                                        <mat-datepicker-toggle matSuffix [for]="fechaDeNacimiento"></mat-datepicker-toggle>
                                        <mat-datepicker #fechaDeNacimiento></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label>País de Nacimiento</mat-label>
                                        <mat-select type="text" name="sexo" [(ngModel)]="datosPersonales.paisDeNacimiento" matNativeControl required>
                                            <mat-option value="Venezuela">Venezuela</mat-option>
                                            <mat-option value="Otro">Otro</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3" *ngIf="datosPersonales.paisDeNacimiento == 'Venezuela'">
                                    <mat-form-field>
                                        <mat-label>Estado donde nació</mat-label>
                                        <mat-select type="text" name="estadoDeNacimiento" [(ngModel)]="datosPersonales.estadoDeNacimiento" (selectionChange)="consultaMunicipioVenezuela($event)" matNativeControl [required]="datosPersonales.paisDeNacimiento == 'Venezuela'">
                                            <mat-option *ngFor="let estado of estados" [value]="estado.estado">{{estado.estado}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3" *ngIf="datosPersonales.paisDeNacimiento == 'Venezuela'">
                                    <mat-form-field>
                                        <mat-label>Ciudad donde nació</mat-label>
                                        <mat-select type="text" name="ciudadDeNacimiento" [(ngModel)]="datosPersonales.ciudadDeNacimiento" matNativeControl [required]="datosPersonales.paisDeNacimiento == 'Venezuela'">
                                            <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad">{{ciudad}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3" *ngIf="datosPersonales.paisDeNacimiento == 'Otro'">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" name="pais" [value]="" placeholder="País" [(ngModel)]="datosPersonales.estadoDeNacimiento" [required]="datosPersonales.paisDeNacimiento == 'Otro'">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3" *ngIf="datosPersonales.paisDeNacimiento == 'Otro'">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" name="ciudad" placeholder="Ciudad" [(ngModel)]="datosPersonales.ciudadDeNacimiento" [required]="datosPersonales.paisDeNacimiento == 'Otro'">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label>Sexo</mat-label>
                                        <mat-select type="text" name="sexo" [(ngModel)]="datosPersonales.sexo" matNativeControl required>
                                            <mat-option value="Masculino">Masculino</mat-option>
                                            <mat-option value="Femenino">Femenino</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label>Estado Civil</mat-label>
                                        <mat-select type="text" name="estadoCivil" [(ngModel)]="datosPersonales.estadoCivil" matNativeControl required>
                                            <mat-option value="Soltero">Soltero (a)</mat-option>
                                            <mat-option value="Casado">Casado (a)</mat-option>
                                            <mat-option value="Casado">Divorciado (a)</mat-option>
                                            <mat-option value="Casado">Viudo (a)</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-checkbox class="mat-form-field-infix" name="hijosMenores" [(ngModel)]="datosPersonales.hijosMenores" color='primary'>¿Tiene hijos menores viviendo con usted?</mat-checkbox>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="number" name="cantidadHijosMenores" placeholder="¿Cuántos?" [(ngModel)]="datosPersonales.cantidadHijosMenores" [disabled]='!datosPersonales.hijosMenores' [required]="datosPersonales.hijosMenores">
                                    </mat-form-field>
                                </div>
                            </div>
                            <br>
                            <h3>Datos de Contacto</h3>
                            <br>
                            <div class="row">
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" name="cep" minlength="8" maxlength="9" placeholder="Introduzca el CEP (Código Postal) de su residencia" [(ngModel)]="datosContacto.cep" (keyup)="consultaCep($event)" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" name="logradouroResidencia" placeholder="Calle" [(ngModel)]="datosContacto.logradouroResidencia" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" name="numCasa" placeholder="Número" [(ngModel)]="datosContacto.numCasa" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" name="barrioResidencia" placeholder="Barrio" [(ngModel)]="datosContacto.barrioResidencia" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" name="ciudadResidencia" placeholder="Ciudad" [(ngModel)]="datosContacto.ciudadResidencia" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" name="estadoResidencia" placeholder="Estado" [(ngModel)]="datosContacto.estadoResidencia" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" name="complemento" placeholder="Complemento" [(ngModel)]="datosContacto.complemento" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="email" name="email" placeholder="Correo electrónico" [(ngModel)]="datosContacto.email" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="tel" name="telefono" placeholder="Teléfono" [(ngModel)]="datosContacto.telefono" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" name="personaContactoEmergencia" [value]="" placeholder="Nombre de alguien cercano para caso de emergencia" [(ngModel)]="datosContacto.personaContactoEmergencia" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="tel" name="telefonoContactoEmergencia" placeholder="Teléfono de esta persona" [(ngModel)]="datosContacto.telefonoContactoEmergencia" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label>Parentesco con esta Persona</mat-label>
                                        <mat-select type="text" name="parentescoContactoEmergencia" [(ngModel)]="datosContacto.parentescoContactoEmergencia" matNativeControl required>
                                            <mat-option *ngFor="let parentesco of listaDeParentescos" [value]="parentesco">{{parentesco}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <br>
                            <h3>Datos Migratorios y Electorales</h3>
                            <br>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-checkbox class="mat-form-field-infix" name="registroConsular" [(ngModel)]="datosMigratoriosElectorales.registroConsular" color='primary'>¿Tiene Registro Consular?</mat-checkbox>
                                </div>
                                <div class="col-md-2">
                                    <mat-checkbox class="mat-form-field-infix" name="rne" [(ngModel)]="datosMigratoriosElectorales.rne" color='primary'>¿Tiene RNE?</mat-checkbox>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input matInput name="fechaEntradaBrasil" [matDatepicker]="fechaEntradaBrasil" [(ngModel)]="datosMigratoriosElectorales.fechaEntradaBrasil" placeholder="Fecha Aproximada de entrada a Brasil" required>
                                        <mat-datepicker-toggle matSuffix [for]="fechaEntradaBrasil"></mat-datepicker-toggle>
                                        <mat-datepicker #fechaEntradaBrasil></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label>Situación Migratoria Actual</mat-label>
                                        <mat-select type="text" name="situacionMigratoriaActual" [(ngModel)]="datosMigratoriosElectorales.situacionMigratoriaActual" matNativeControl required>
                                            <mat-option value="Refugiado">Refugiado</mat-option>
                                            <mat-option value="Residencia Temporal">Residencia Temporal</mat-option>
                                            <mat-option value="Residencia Permanente">Residencia Permanente</mat-option>
                                            <mat-option value="Visa de Trabajo">Visa de Trabajo</mat-option>
                                            <mat-option value="Visa estudiante">Visa estudiante</mat-option>
                                            <mat-option value="Turista">Turista</mat-option>
                                            <mat-option value="Doble Nacionalidad">Doble Nacionalidad</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-checkbox class="mat-form-field-infix" name="cedula" [(ngModel)]="datosMigratoriosElectorales.cedula" color='primary'>¿Tiene su cédula de identidad laminada?</mat-checkbox>
                                </div>
                                <div class="col-md-2">
                                    <mat-checkbox class="mat-form-field-infix" name="pasaporte" [(ngModel)]="datosMigratoriosElectorales.pasaporte" color='primary'>¿Tiene Pasaporte?</mat-checkbox>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" name="numPasaporte" placeholder="Número de Pasaporte" [(ngModel)]="datosMigratoriosElectorales.numPasaporte" [disabled]='!datosMigratoriosElectorales.pasaporte' [required]="datosMigratoriosElectorales.pasaporte">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <input matInput name="fechaDeVencimientoPasaporte" [matDatepicker]="fechaDeVencimientoPasaporte" [(ngModel)]="datosMigratoriosElectorales.fechaDeVencimientoPasaporte" placeholder="Fecha de Vencimiento Pasaporte" [disabled]='!datosMigratoriosElectorales.pasaporte'
                                            [required]="datosMigratoriosElectorales.pasaporte">
                                        <mat-datepicker-toggle matSuffix [for]="fechaDeVencimientoPasaporte"></mat-datepicker-toggle>
                                        <mat-datepicker #fechaDeVencimientoPasaporte></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-checkbox class="mat-form-field-infix" name="registroElectoral" [(ngModel)]="datosMigratoriosElectorales.registroElectoral" color='primary'>¿Tiene Registro Electoral?</mat-checkbox>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label>¿Dónde?</mat-label>
                                        <mat-select type="text" name="lugarRegistroElectoral" [(ngModel)]="datosMigratoriosElectorales.lugarRegistroElectoral" matNativeControl [disabled]='!datosMigratoriosElectorales.registroElectoral' [required]="datosMigratoriosElectorales.registroElectoral">
                                            <mat-option value="Venezuela">Venezuela</mat-option>
                                            <mat-option value="Recife">Recife</mat-option>
                                            <mat-option value="Otro">Otro</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <br>
                            <h3>Datos Educativos y Laborales</h3>
                            <br>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label>Grado de Instrucción Actual</mat-label>
                                        <mat-select type="text" name="gradoEducacional" [(ngModel)]="datosEducativosLaborales.gradoEducacional" matNativeControl required>
                                            <mat-option value="Básica">Básica</mat-option>
                                            <mat-option value="Media Diversificada">Media Diversificada</mat-option>
                                            <mat-option value="Superior">Superior</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" name="profesion" placeholder="Profesión o área de especialidad" [(ngModel)]="datosEducativosLaborales.profesion" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" name="desTrabajoActual" placeholder="Describa brevemente su trabajo o situación laboral actual" [(ngModel)]="datosEducativosLaborales.desTrabajoActual" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-checkbox class="mat-form-field-infix" name="trabaja" [(ngModel)]="datosEducativosLaborales.trabaja" color='primary'>¿Está Trabajando?</mat-checkbox>
                                </div>
                                <div class="col-md-3">
                                    <mat-checkbox class="mat-form-field-infix" name="estudia" [(ngModel)]="datosEducativosLaborales.estudia" color='primary'>¿Está Estudiando?</mat-checkbox>
                                </div>
                                <div class="col-md-3">
                                    <mat-checkbox class="mat-form-field-infix" name="desempleado" [(ngModel)]="datosEducativosLaborales.desempleado" color='primary'>¿Está Desempleado?</mat-checkbox>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label>Area Laboral o de Estudios</mat-label>
                                        <mat-select type="text" name="areaLaboralEstudio" [(ngModel)]="datosEducativosLaborales.areaLaboralEstudio
                                           " matNativeControl required [disabled]='!datosEducativosLaborales.trabaja && !datosEducativosLaborales.estudia' [required]="datosEducativosLaborales.trabaja || datosEducativosLaborales.estudia">
                                            <mat-option *ngFor="let area of areasLaboralEstudio" [value]="area">{{area}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <br>
                            <h3>Sugerencias y Comentarios</h3>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput name="comentariosSugerencias" [value]="" placeholder="" [(ngModel)]="datosComentariosSugerencias.comentariosSugerencias" placeholder="Por favor, deje aqui cualquier comentario o sugerencia." required></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="!registro.valid">Guardar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>